[submodule "Work-Normal-Cooperation-Altium-Compoents"]
	path = Work-Normal-Cooperation-Altium-Compoents
	url = git@github-XiaoKChen:XiaoKChen/Work-Normal-Cooperation-Altium-Compoents.git
	branch = version/A6
