C 0 0 "P400" 0 0 0 0 60 0 L
X "PIN_TEXT" "P400" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "P401" 0 -100 0 0 60 0 L
X "PIN_TEXT" "P401" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "P402" 0 -200 0 0 60 0 L
X "PIN_TEXT" "P402" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VBATT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VBATT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VCL" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VCL" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "P215/XCIN" 0 -500 0 0 60 0 L
X "PIN_TEXT" "P215/XCIN" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "P214/XCOUT" 0 -600 0 0 60 0 L
X "PIN_TEXT" "P214/XCOUT" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VSS_1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VSS_1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "P213/XTAL" 0 -800 0 0 60 0 L
X "PIN_TEXT" "P213/XTAL" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "P212/EXTAL" 0 -900 0 0 60 0 L
X "PIN_TEXT" "P212/EXTAL" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "VCC_1" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "VCC_1" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "P411" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "P411" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "P410" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "P410" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "P409" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "P409" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "P408" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "P408" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "P407" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "P407" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 300 -2600 "VSS_USB" 300 -2600 0 0 60 0 L
X "PIN_TEXT" "VSS_USB" 330 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -2400 300 -2600 -1 0
C 400 -2600 "P915/USB_DM" 400 -2600 0 0 60 0 L
X "PIN_TEXT" "P915/USB_DM" 430 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -2400 400 -2600 -1 0
C 500 -2600 "P914/USB_DP" 500 -2600 0 0 60 0 L
X "PIN_TEXT" "P914/USB_DP" 530 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -2400 500 -2600 -1 0
C 600 -2600 "VCC_USB" 600 -2600 0 0 60 0 L
X "PIN_TEXT" "VCC_USB" 630 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -2400 600 -2600 -1 0
C 700 -2600 "VCC_USB_LDO" 700 -2600 0 0 60 0 L
X "PIN_TEXT" "VCC_USB_LDO" 730 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -2400 700 -2600 -1 0
C 800 -2600 "P206" 800 -2600 0 0 60 0 L
X "PIN_TEXT" "P206" 830 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -2400 800 -2600 -1 0
C 900 -2600 "P205" 900 -2600 0 0 60 0 L
X "PIN_TEXT" "P205" 930 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -2400 900 -2600 -1 0
C 1000 -2600 "P204" 1000 -2600 0 0 60 0 L
X "PIN_TEXT" "P204" 1030 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -2400 1000 -2600 -1 0
C 1100 -2600 "RES" 1100 -2600 0 0 60 0 L
X "PIN_TEXT" "RES" 1130 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -2400 1100 -2600 -1 0
C 1200 -2600 "P201/MD" 1200 -2600 0 0 60 0 L
X "PIN_TEXT" "P201/MD" 1230 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -2400 1200 -2600 -1 0
C 1300 -2600 "P200" 1300 -2600 0 0 60 0 L
X "PIN_TEXT" "P200" 1330 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -2400 1300 -2600 -1 0
C 1400 -2600 "P304" 1400 -2600 0 0 60 0 L
X "PIN_TEXT" "P304" 1430 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -2400 1400 -2600 -1 0
C 1500 -2600 "P303" 1500 -2600 0 0 60 0 L
X "PIN_TEXT" "P303" 1530 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -2400 1500 -2600 -1 0
C 1600 -2600 "P302" 1600 -2600 0 0 60 0 L
X "PIN_TEXT" "P302" 1630 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1600 -2400 1600 -2600 -1 0
C 1700 -2600 "P301" 1700 -2600 0 0 60 0 L
X "PIN_TEXT" "P301" 1730 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1700 -2400 1700 -2600 -1 0
C 1800 -2600 "P300/TCK/SWCLK" 1800 -2600 0 0 60 0 L
X "PIN_TEXT" "P300/TCK/SWCLK" 1830 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1800 -2400 1800 -2600 -1 0
C 2100 0 "P100" 2100 0 0 0 60 0 R
X "PIN_TEXT" "P100" 1870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 0 2100 0 -1 0
C 2100 -100 "P101" 2100 -100 0 0 60 0 R
X "PIN_TEXT" "P101" 1870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -100 2100 -100 -1 0
C 2100 -200 "P102" 2100 -200 0 0 60 0 R
X "PIN_TEXT" "P102" 1870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -200 2100 -200 -1 0
C 2100 -300 "P103" 2100 -300 0 0 60 0 R
X "PIN_TEXT" "P103" 1870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -300 2100 -300 -1 0
C 2100 -400 "P104" 2100 -400 0 0 60 0 R
X "PIN_TEXT" "P104" 1870 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -400 2100 -400 -1 0
C 2100 -500 "P105" 2100 -500 0 0 60 0 R
X "PIN_TEXT" "P105" 1870 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -500 2100 -500 -1 0
C 2100 -600 "P106" 2100 -600 0 0 60 0 R
X "PIN_TEXT" "P106" 1870 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -600 2100 -600 -1 0
C 2100 -700 "P107" 2100 -700 0 0 60 0 R
X "PIN_TEXT" "P107" 1870 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -700 2100 -700 -1 0
C 2100 -800 "VSS_2" 2100 -800 0 0 60 0 R
X "PIN_TEXT" "VSS_2" 1870 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -800 2100 -800 -1 0
C 2100 -900 "VCC_2" 2100 -900 0 0 60 0 R
X "PIN_TEXT" "VCC_2" 1870 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -900 2100 -900 -1 0
C 2100 -1000 "P113" 2100 -1000 0 0 60 0 R
X "PIN_TEXT" "P113" 1870 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -1000 2100 -1000 -1 0
C 2100 -1100 "P112" 2100 -1100 0 0 60 0 R
X "PIN_TEXT" "P112" 1870 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -1100 2100 -1100 -1 0
C 2100 -1200 "P111" 2100 -1200 0 0 60 0 R
X "PIN_TEXT" "P111" 1870 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -1200 2100 -1200 -1 0
C 2100 -1300 "P110/TDI" 2100 -1300 0 0 60 0 R
X "PIN_TEXT" "P110/TDI" 1870 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -1300 2100 -1300 -1 0
C 2100 -1400 "P109/TDO/SWO" 2100 -1400 0 0 60 0 R
X "PIN_TEXT" "P109/TDO/SWO" 1870 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -1400 2100 -1400 -1 0
C 2100 -1500 "P108/TMS/SWDIO" 2100 -1500 0 0 60 0 R
X "PIN_TEXT" "P108/TMS/SWDIO" 1870 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 1900 -1500 2100 -1500 -1 0
C 300 1000 "P000" 300 1000 0 0 60 0 R
X "PIN_TEXT" "P000" 330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 300 800 300 1000 -1 0
C 400 1000 "P001" 400 1000 0 0 60 0 R
X "PIN_TEXT" "P001" 430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 400 800 400 1000 -1 0
C 500 1000 "P002" 500 1000 0 0 60 0 R
X "PIN_TEXT" "P002" 530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 500 800 500 1000 -1 0
C 600 1000 "P003" 600 1000 0 0 60 0 R
X "PIN_TEXT" "P003" 630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 600 800 600 1000 -1 0
C 700 1000 "P004" 700 1000 0 0 60 0 R
X "PIN_TEXT" "P004" 730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 700 800 700 1000 -1 0
C 800 1000 "P010/VREFH0" 800 1000 0 0 60 0 R
X "PIN_TEXT" "P010/VREFH0" 830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 800 800 800 1000 -1 0
C 900 1000 "P011/VREFL0" 900 1000 0 0 60 0 R
X "PIN_TEXT" "P011/VREFL0" 930 770 90 0.00 60 0 0 2 0 0 1 0 74
L 900 800 900 1000 -1 0
C 1000 1000 "AVSS0" 1000 1000 0 0 60 0 R
X "PIN_TEXT" "AVSS0" 1030 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 800 1000 1000 -1 0
C 1100 1000 "AVCC0" 1100 1000 0 0 60 0 R
X "PIN_TEXT" "AVCC0" 1130 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 800 1100 1000 -1 0
C 1200 1000 "P012/VREFH" 1200 1000 0 0 60 0 R
X "PIN_TEXT" "P012/VREFH" 1230 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 800 1200 1000 -1 0
C 1300 1000 "P013/VREFL" 1300 1000 0 0 60 0 R
X "PIN_TEXT" "P013/VREFL" 1330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 800 1300 1000 -1 0
C 1400 1000 "P014" 1400 1000 0 0 60 0 R
X "PIN_TEXT" "P014" 1430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 800 1400 1000 -1 0
C 1500 1000 "P015" 1500 1000 0 0 60 0 R
X "PIN_TEXT" "P015" 1530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 800 1500 1000 -1 0
C 1600 1000 "P502" 1600 1000 0 0 60 0 R
X "PIN_TEXT" "P502" 1630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 800 1600 1000 -1 0
C 1700 1000 "P501" 1700 1000 0 0 60 0 R
X "PIN_TEXT" "P501" 1730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1700 800 1700 1000 -1 0
C 1800 1000 "P500" 1800 1000 0 0 60 0 R
X "PIN_TEXT" "P500" 1830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1800 800 1800 1000 -1 0
L 200 800 1900 800 -1 0
L 1900 -2400 1900 800 -1 0
L 1900 -2400 200 -2400 -1 0
L 200 800 200 -2400 -1 0
P "$LOCATION" "?" 1950 970 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

