C 0 0 "EN" 0 0 0 0 60 0 L
X "PIN_TEXT" "EN" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PG" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PG" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "FB" 0 -200 0 0 60 0 L
X "PIN_TEXT" "FB" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VOS" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VOS" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 1000 -200 "GND" 1000 -200 0 0 60 0 R
X "PIN_TEXT" "GND" 770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -200 1000 -200 -1 0
C 1000 -100 "SW" 1000 -100 0 0 60 0 R
X "PIN_TEXT" "SW" 770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -100 1000 -100 -1 0
C 1000 0 "VIN" 1000 0 0 0 60 0 R
X "PIN_TEXT" "VIN" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
L 200 100 800 100 -1 0
L 800 -400 800 100 -1 0
L 800 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

