C 0 0 "(TRACEDATA[2]_GPIO)_P2[6]" 0 0 0 0 60 0 L
X "PIN_TEXT" "(TRACEDATA[2]_GPIO)_P2[6]" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "(TRACEDATA[3]_GPIO)_P2[7]" 0 -100 0 0 60 0 L
X "PIN_TEXT" "(TRACEDATA[3]_GPIO)_P2[7]" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "(I2C0:_SCL_SIO)_P12[4]" 0 -200 0 0 60 0 L
X "PIN_TEXT" "(I2C0:_SCL_SIO)_P12[4]" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "(I2C0:_SDA_SIO)_P12[5]" 0 -300 0 0 60 0 L
X "PIN_TEXT" "(I2C0:_SDA_SIO)_P12[5]" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VSSB" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VSSB" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "IND" 0 -500 0 0 60 0 L
X "PIN_TEXT" "IND" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "VBOOST" 0 -600 0 0 60 0 L
X "PIN_TEXT" "VBOOST" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VBAT" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VBAT" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "VSSD_1" 0 -800 0 0 60 0 L
X "PIN_TEXT" "VSSD_1" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "XRES*" 0 -900 0 0 60 0 L
X "PIN_TEXT" "XRES*" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "(TMS_SWDIO_GPIO)_P1[0]" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "(TMS_SWDIO_GPIO)_P1[0]" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "(TCK_SWDCK_GPIO)_P1[1]" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "(TCK_SWDCK_GPIO)_P1[1]" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "(CONFIGURABLE_XRES_GPIO)_P1[2]*" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "(CONFIGURABLE_XRES_GPIO)_P1[2]*" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "(TDO_SWV_GPIO)_P1[3]" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "(TDO_SWV_GPIO)_P1[3]" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "(TDI_GPIO)_P1[4]" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "(TDI_GPIO)_P1[4]" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "(NTRST_GPIO)_P1[5]" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "(NTRST_GPIO)_P1[5]" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "VDDIO1" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "VDDIO1" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 1200 -3500 "(GPIO)_P1[6]" 1200 -3500 0 0 60 0 L
X "PIN_TEXT" "(GPIO)_P1[6]" 1230 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -3300 1200 -3500 -1 0
C 1300 -3500 "(GPIO)_P1[7]" 1300 -3500 0 0 60 0 L
X "PIN_TEXT" "(GPIO)_P1[7]" 1330 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -3300 1300 -3500 -1 0
C 1400 -3500 "(SIO)_P12[6]" 1400 -3500 0 0 60 0 L
X "PIN_TEXT" "(SIO)_P12[6]" 1430 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -3300 1400 -3500 -1 0
C 1500 -3500 "(SIO)_P12[7]" 1500 -3500 0 0 60 0 L
X "PIN_TEXT" "(SIO)_P12[7]" 1530 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -3300 1500 -3500 -1 0
C 1600 -3500 "(USBIO_D+_SWDIO)_P15[6]" 1600 -3500 0 0 60 0 L
X "PIN_TEXT" "(USBIO_D+_SWDIO)_P15[6]" 1630 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1600 -3300 1600 -3500 -1 0
C 1700 -3500 "(USBIO_D-_SWDCK)_P15[7]" 1700 -3500 0 0 60 0 L
X "PIN_TEXT" "(USBIO_D-_SWDCK)_P15[7]" 1730 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1700 -3300 1700 -3500 -1 0
C 1800 -3500 "VDDD_1" 1800 -3500 0 0 60 0 L
X "PIN_TEXT" "VDDD_1" 1830 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1800 -3300 1800 -3500 -1 0
C 1900 -3500 "VSSD_2" 1900 -3500 0 0 60 0 L
X "PIN_TEXT" "VSSD_2" 1930 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 1900 -3300 1900 -3500 -1 0
C 2000 -3500 "VCCD_1" 2000 -3500 0 0 60 0 L
X "PIN_TEXT" "VCCD_1" 2030 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2000 -3300 2000 -3500 -1 0
C 2100 -3500 "(MHZ_XTAL:_XO_GPIO)_P15[0]" 2100 -3500 0 0 60 0 L
X "PIN_TEXT" "(MHZ_XTAL:_XO_GPIO)_P15[0]" 2130 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2100 -3300 2100 -3500 -1 0
C 2200 -3500 "(MHZ_XTAL:_XI_GPIO)_P15[1]" 2200 -3500 0 0 60 0 L
X "PIN_TEXT" "(MHZ_XTAL:_XI_GPIO)_P15[1]" 2230 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2200 -3300 2200 -3500 -1 0
C 2300 -3500 "(IDAC1_GPIO)_P3[0]" 2300 -3500 0 0 60 0 L
X "PIN_TEXT" "(IDAC1_GPIO)_P3[0]" 2330 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2300 -3300 2300 -3500 -1 0
C 2400 -3500 "(IDAC3_GPIO)_P3[1]" 2400 -3500 0 0 60 0 L
X "PIN_TEXT" "(IDAC3_GPIO)_P3[1]" 2430 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2400 -3300 2400 -3500 -1 0
C 2500 -3500 "(OPAMP3-_EXTREF1_GPIO)_P3[2]" 2500 -3500 0 0 60 0 L
X "PIN_TEXT" "(OPAMP3-_EXTREF1_GPIO)_P3[2]" 2530 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2500 -3300 2500 -3500 -1 0
C 2600 -3500 "(OPAMP3+_GPIO)_P3[3]" 2600 -3500 0 0 60 0 L
X "PIN_TEXT" "(OPAMP3+_GPIO)_P3[3]" 2630 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2600 -3300 2600 -3500 -1 0
C 2700 -3500 "(OPAMP1-_GPIO)_P3[4]" 2700 -3500 0 0 60 0 L
X "PIN_TEXT" "(OPAMP1-_GPIO)_P3[4]" 2730 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2700 -3300 2700 -3500 -1 0
C 2800 -3500 "(OPAMP1+_GPIO)_P3[5]" 2800 -3500 0 0 60 0 L
X "PIN_TEXT" "(OPAMP1+_GPIO)_P3[5]" 2830 -3270 90 0.00 60 0 0 0 0 0 1 0 74
L 2800 -3300 2800 -3500 -1 0
C 4000 0 "P0[3]_(GPIO_OPAMP0-_EXTREF0)" 4000 0 0 0 60 0 R
X "PIN_TEXT" "P0[3]_(GPIO_OPAMP0-_EXTREF0)" 3770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 0 4000 0 -1 0
C 4000 -100 "P0[2]_(GPIO_OPAMP0+_SAR1_EXTREF)" 4000 -100 0 0 60 0 R
X "PIN_TEXT" "P0[2]_(GPIO_OPAMP0+_SAR1_EXTREF)" 3770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -100 4000 -100 -1 0
C 4000 -200 "P0[1]_(GPIO_OPAMP0OUT)" 4000 -200 0 0 60 0 R
X "PIN_TEXT" "P0[1]_(GPIO_OPAMP0OUT)" 3770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -200 4000 -200 -1 0
C 4000 -300 "P0[0]_(GPIO_OPAMP2OUT)" 4000 -300 0 0 60 0 R
X "PIN_TEXT" "P0[0]_(GPIO_OPAMP2OUT)" 3770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -300 4000 -300 -1 0
C 4000 -400 "P12[3]_(SIO)" 4000 -400 0 0 60 0 R
X "PIN_TEXT" "P12[3]_(SIO)" 3770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -400 4000 -400 -1 0
C 4000 -500 "P12[2]_(SIO)" 4000 -500 0 0 60 0 R
X "PIN_TEXT" "P12[2]_(SIO)" 3770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -500 4000 -500 -1 0
C 4000 -600 "VSSD_3" 4000 -600 0 0 60 0 R
X "PIN_TEXT" "VSSD_3" 3770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -600 4000 -600 -1 0
C 4000 -700 "VDDA" 4000 -700 0 0 60 0 R
X "PIN_TEXT" "VDDA" 3770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -700 4000 -700 -1 0
C 4000 -800 "VSSA" 4000 -800 0 0 60 0 R
X "PIN_TEXT" "VSSA" 3770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -800 4000 -800 -1 0
C 4000 -900 "VCCA" 4000 -900 0 0 60 0 R
X "PIN_TEXT" "VCCA" 3770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -900 4000 -900 -1 0
C 4000 -1000 "P15[3]_(GPIO_KHZ_XTAL:_XI)" 4000 -1000 0 0 60 0 R
X "PIN_TEXT" "P15[3]_(GPIO_KHZ_XTAL:_XI)" 3770 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1000 4000 -1000 -1 0
C 4000 -1100 "P15[2]_(GPIO_KHZ_XTAL:_XO)" 4000 -1100 0 0 60 0 R
X "PIN_TEXT" "P15[2]_(GPIO_KHZ_XTAL:_XO)" 3770 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1100 4000 -1100 -1 0
C 4000 -1200 "P12[1]_(SIO_I2C1:_SDA)" 4000 -1200 0 0 60 0 R
X "PIN_TEXT" "P12[1]_(SIO_I2C1:_SDA)" 3770 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1200 4000 -1200 -1 0
C 4000 -1300 "P12[0]_(SIO_12C1:_SCL)" 4000 -1300 0 0 60 0 R
X "PIN_TEXT" "P12[0]_(SIO_12C1:_SCL)" 3770 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1300 4000 -1300 -1 0
C 4000 -1400 "P3[7]_(GPIO_OPAMP3OUT)" 4000 -1400 0 0 60 0 R
X "PIN_TEXT" "P3[7]_(GPIO_OPAMP3OUT)" 3770 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1400 4000 -1400 -1 0
C 4000 -1500 "P3[6]_(GPIO_OPAMP1OUT)" 4000 -1500 0 0 60 0 R
X "PIN_TEXT" "P3[6]_(GPIO_OPAMP1OUT)" 3770 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1500 4000 -1500 -1 0
C 4000 -1600 "VDDIO3" 4000 -1600 0 0 60 0 R
X "PIN_TEXT" "VDDIO3" 3770 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 3800 -1600 4000 -1600 -1 0
C 1100 2100 "EP" 1100 2100 0 0 60 0 R
X "PIN_TEXT" "EP" 1130 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 1900 1100 2100 -1 0
C 1200 2100 "P2[5]_(GPIO_TRACEDATA[1])" 1200 2100 0 0 60 0 R
X "PIN_TEXT" "P2[5]_(GPIO_TRACEDATA[1])" 1230 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 1900 1200 2100 -1 0
C 1300 2100 "VDDIO2" 1300 2100 0 0 60 0 R
X "PIN_TEXT" "VDDIO2" 1330 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 1900 1300 2100 -1 0
C 1400 2100 "P2[4]_(GPIO_TRACEDATA[0])" 1400 2100 0 0 60 0 R
X "PIN_TEXT" "P2[4]_(GPIO_TRACEDATA[0])" 1430 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 1900 1400 2100 -1 0
C 1500 2100 "P2[3]_(GPIO_TRACECLK)" 1500 2100 0 0 60 0 R
X "PIN_TEXT" "P2[3]_(GPIO_TRACECLK)" 1530 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 1900 1500 2100 -1 0
C 1600 2100 "P2[2]_(GPIO)" 1600 2100 0 0 60 0 R
X "PIN_TEXT" "P2[2]_(GPIO)" 1630 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 1900 1600 2100 -1 0
C 1700 2100 "P2[1]_(GPIO)" 1700 2100 0 0 60 0 R
X "PIN_TEXT" "P2[1]_(GPIO)" 1730 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1700 1900 1700 2100 -1 0
C 1800 2100 "P2[0]_(GPIO)" 1800 2100 0 0 60 0 R
X "PIN_TEXT" "P2[0]_(GPIO)" 1830 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1800 1900 1800 2100 -1 0
C 1900 2100 "P15[5]_(GPOI)" 1900 2100 0 0 60 0 R
X "PIN_TEXT" "P15[5]_(GPOI)" 1930 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 1900 1900 1900 2100 -1 0
C 2000 2100 "P15[4]_(GPIO)" 2000 2100 0 0 60 0 R
X "PIN_TEXT" "P15[4]_(GPIO)" 2030 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2000 1900 2000 2100 -1 0
C 2100 2100 "VDDD_2" 2100 2100 0 0 60 0 R
X "PIN_TEXT" "VDDD_2" 2130 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2100 1900 2100 2100 -1 0
C 2200 2100 "VSSD_4" 2200 2100 0 0 60 0 R
X "PIN_TEXT" "VSSD_4" 2230 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2200 1900 2200 2100 -1 0
C 2300 2100 "VCCD_2" 2300 2100 0 0 60 0 R
X "PIN_TEXT" "VCCD_2" 2330 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2300 1900 2300 2100 -1 0
C 2400 2100 "P0[7]_(GPIO_IDAC2)" 2400 2100 0 0 60 0 R
X "PIN_TEXT" "P0[7]_(GPIO_IDAC2)" 2430 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2400 1900 2400 2100 -1 0
C 2500 2100 "P0[6]_(GPIO_IDAC0)" 2500 2100 0 0 60 0 R
X "PIN_TEXT" "P0[6]_(GPIO_IDAC0)" 2530 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2500 1900 2500 2100 -1 0
C 2600 2100 "P0[5]_(GPIO_OPAMP2-)" 2600 2100 0 0 60 0 R
X "PIN_TEXT" "P0[5]_(GPIO_OPAMP2-)" 2630 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2600 1900 2600 2100 -1 0
C 2700 2100 "P0[4]_(GPIO_OPAMP2+_SAR0_EXTREF)" 2700 2100 0 0 60 0 R
X "PIN_TEXT" "P0[4]_(GPIO_OPAMP2+_SAR0_EXTREF)" 2730 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2700 1900 2700 2100 -1 0
C 2800 2100 "VDDIO0" 2800 2100 0 0 60 0 R
X "PIN_TEXT" "VDDIO0" 2830 1870 90 0.00 60 0 0 2 0 0 1 0 74
L 2800 1900 2800 2100 -1 0
L 200 1900 3800 1900 -1 0
L 3800 -3300 3800 1900 -1 0
L 3800 -3300 200 -3300 -1 0
L 200 1900 200 -3300 -1 0
P "$LOCATION" "?" 3850 2070 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

