C 0 0 "VCC(A)" 0 0 0 0 60 0 L
L 200 0 0 0 -1 0
C 0 -100 "A1" 0 -100 0 0 60 0 L
L 200 -100 0 -100 -1 0
C 0 -200 "A2" 0 -200 0 0 60 0 L
L 200 -200 0 -200 -1 0
C 0 -300 "A3" 0 -300 0 0 60 0 L
L 200 -300 0 -300 -1 0
C 0 -400 "A4" 0 -400 0 0 60 0 L
L 200 -400 0 -400 -1 0
C 0 -500 "GND" 0 -500 0 0 60 0 L
L 200 -500 0 -500 -1 0
C 1300 0 "B4" 1300 0 0 0 60 0 R
L 1100 0 1300 0 -1 0
C 1300 -100 "B3" 1300 -100 0 0 60 0 R
L 1100 -100 1300 -100 -1 0
C 1300 -200 "B2" 1300 -200 0 0 60 0 R
L 1100 -200 1300 -200 -1 0
C 1300 -300 "B1" 1300 -300 0 0 60 0 R
L 1100 -300 1300 -300 -1 0
C 1300 -400 "VCC(B)" 1300 -400 0 0 60 0 R
L 1100 -400 1300 -400 -1 0
C 1300 -500 "OE" 1300 -500 0 0 60 0 R
L 1100 -500 1300 -500 -1 0
L 200 100 1100 100 -1 0
L 1100 -600 1100 100 -1 0
L 1100 -600 200 -600 -1 0
L 200 100 200 -600 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

