C 0 0 "A/K_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "A/K_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "A/K_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "A/K_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1100 0 "COM" 1100 0 0 0 60 0 R
X "PIN_TEXT" "COM" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
L 200 100 900 100 -1 0
L 900 -200 900 100 -1 0
L 900 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

