C 0 0 "IN1" 0 0 0 0 60 0 L
X "PIN_TEXT" "IN1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "IN2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "IN2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "NC_1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VCLAMP" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VCLAMP" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "NC_2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "NC_2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "VIN" 0 -500 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 300 -1200 "GND_1" 300 -1200 0 0 60 0 L
X "PIN_TEXT" "GND_1" 330 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1000 300 -1200 -1 0
C 400 -1200 "IN3" 400 -1200 0 0 60 0 L
X "PIN_TEXT" "IN3" 430 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1000 400 -1200 -1 0
C 500 -1200 "IN4" 500 -1200 0 0 60 0 L
X "PIN_TEXT" "IN4" 530 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1000 500 -1200 -1 0
C 600 -1200 "NC_3" 600 -1200 0 0 60 0 L
X "PIN_TEXT" "NC_3" 630 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1000 600 -1200 -1 0
C 700 -1200 "NC_4" 700 -1200 0 0 60 0 L
X "PIN_TEXT" "NC_4" 730 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1000 700 -1200 -1 0
C 800 -1200 "NC_5" 800 -1200 0 0 60 0 L
X "PIN_TEXT" "NC_5" 830 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1000 800 -1200 -1 0
C 1200 0 "NC_7" 1200 0 0 0 60 0 R
X "PIN_TEXT" "NC_7" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "OUT1" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "OUT1" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "OUT2" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "OUT2" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "OUT3" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "OUT3" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 1200 -400 "OUT4" 1200 -400 0 0 60 0 R
X "PIN_TEXT" "OUT4" 970 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -400 1200 -400 -1 0
C 1200 -500 "NC_6" 1200 -500 0 0 60 0 R
X "PIN_TEXT" "NC_6" 970 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -500 1200 -500 -1 0
C 300 700 "GND_2" 300 700 0 0 60 0 R
X "PIN_TEXT" "GND_2" 330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 300 500 300 700 -1 0
C 400 700 "NC_10" 400 700 0 0 60 0 R
X "PIN_TEXT" "NC_10" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "NFAULT" 500 700 0 0 60 0 R
X "PIN_TEXT" "NFAULT" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "NENBL" 600 700 0 0 60 0 R
X "PIN_TEXT" "NENBL" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "SLEEP" 700 700 0 0 60 0 R
X "PIN_TEXT" "SLEEP" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "NC_9" 800 700 0 0 60 0 R
X "PIN_TEXT" "NC_9" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
C 900 700 "NC_8" 900 700 0 0 60 0 R
X "PIN_TEXT" "NC_8" 930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 900 500 900 700 -1 0
L 200 500 1000 500 -1 0
L 1000 -1000 1000 500 -1 0
L 1000 -1000 200 -1000 -1 0
L 200 500 200 -1000 -1 0
P "$LOCATION" "?" 1050 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

