C 0 0 "CATHODE_1" 0 0 0 0 60 0 L
L 200 0 0 0 -1 0
C 0 -100 "CATHODE_2" 0 -100 0 0 60 0 L
L 200 -100 0 -100 -1 0
C 1900 0 "DOUBLE_CATHODE" 1900 0 0 0 60 0 R
L 1700 0 1900 0 -1 0
L 200 100 1700 100 -1 0
L 1700 -200 1700 100 -1 0
L 1700 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 1750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

